<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="text-center">  
    <h2>{{title}}</h2> 
  </div>
     <div class="container">
               <div class="row">  
                <div class="col-md-4">
                <p class="profile">LOGGED IN AS: {{ username }}</p>
             </div>
             <div class="col-md-8 text-right">
                 <a href="/logout" class="nav-link">LOGOUT</a>
             </div>
          </div>
                <div class="row">
                    {{#each product}}
                    <div class="col-md-4">
                        <div class="card" style="">
                            <a href="/gallery/{{this._id}}" class="nav-link">
                                <img src="images/{{this.filename}}" class="card-img-top" alt="{{this.filename}}">
                            </a>
                                <div class="card-body" style="color:orange; background-color: black">
                            

                                <h5 class="card-title" >Price: ${{this.price}}</h5>
                          </div>
                        </div>
                    </div>
                    {{/each}}
           </div>
</body>
